<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<div class="container">
<ul>
  <% @restaurant.reviews.each do |review| %>
      <li id='<%=review.id %>'>
        <h3>
          Rating: <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </h3>
      </li>
      <li>
        <p>
          <%= review.content %>
        </p>
      </li>
  <% end %>
</ul>

<div>
<div class="btn">
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant)  %>
  </div>
<div class="btn">
  <%= link_to "Back to Restaurants List", root_path  %>
</div>
</div>
</div>
